@page "/Admineditsupplier/{supplierID:int}"
<h2>Admin Delete Supplier</h2>
<table class="table">
	<thead>
		<tr>
			<th>Supplier Name</th>
			<th>Last Name</th>
			<th>Gender</th>
			<th>DOB</th>
		</tr>
	</thead>
	<tbody>

		@foreach (Supplier s in DatabaseInstance.viewSuppliers())
		{
			<tr>
				<td>@s.name</td>
			</tr>
		}
	</tbody>
</table>
<input type="text" placeholder="Enter ISBN#" @onchange="a" id="ISBN#" class="form-control form-control-sm" />
<button class="btn btn-primary">Confirm Changes</button>
@code {
	[Parameter]
	public int? supplierID { get; set; }
}
