@page "/Admineditorder/{orderID:int}"
<h2>Edit Order Data</h2>
<table class="table">
	<thead>
		<tr>
			<th>Order Date</th>
			<th>Order Cost</th>
			<th>CustomerID</th>
		</tr>
	</thead>
	<tbody>

		@foreach (Order o in DatabaseInstance.viewOrders())
		{
			<tr>
				<td> <input value=@o.orderDate type="text"></td>
				<td> <input value=@o.orderVal type="text"></td>
				<td> <input value=@o.customerID type="text"></td>
			</tr>
		}
	</tbody>
</table>
<button class="btn btn-primary">Confirm Changes</button>
@code {
	[Parameter]
	public int? orderID { get; set; }
}
