@page "/Admineditsupplier/{supplierID:int}"
<h2>Admin Delete Supplier</h2>
<table class="thead-dark">
	<thead>
		<tr>
			<th scope="col">Supplier Name</th>
		</tr>
	</thead>
	<tbody>
		@if (supplierID.HasValue)
		{
			Supplier s = DatabaseInstance.getSupplier(supplierID.Value);
			<tr>
				<td><input class="text">@s.name</td>
			</tr>
		}
	</tbody>
</table>
<button class="btn btn-primary">Confirm Changes</button>
<button class="btn btn-primary">Delete Supplier</button>
@code {
	[Parameter]
	public int? supplierID { get; set; }
}
