@page "/customers"
<div>
	<h3>Customer Details</h3>
	<input type="search" id="query" name="q" placeholder="Search...">
	<button>Search</button>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Customer ID</th>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<button class="btn btn-primary" @onclick="delete">Delete Customer</button>
<button class="btn btn-primary" @onclick="editCustomer">Edit Customer</button>


@code {
	private void delete()
	{

	}
	private void editCustomer()
	{
		
	}
}
