@page "/EditAuthorData/{AuthorID:int}" 
<h2>Edit Author Data</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Gender</th>
			<th scope="col">DOB</th>
		</tr>
	</thead>
	<tbody>

		@foreach (Author a in DatabaseInstance.viewAuthors())
		{
			<tr>
				<td> <input value=@a.fName type="text"></td>
				<td> <input value=@a.lName type="text"></td>
				<td> <input value=@a.gender type="text"></td>
				<td> <input value=@a.DOB type="text"></td>
			</tr>
		}
	</tbody>
</table>
<button class="btn btn-primary">Confirm Changes</button>
<button class="btn btn-primary">Delete Author</button>
@code {
	[Parameter]
	public int? AuthorID {get; set;}
}
