@page "/Admineditorder/{orderID:int}"
<h2>Edit Order Data</h2>
<table class="thead-dark">
	<thead>
		<tr>
			<th scope="col">Order Date</th>
			<th scope="col">Order Cost</th>
			<th scope="col">CustomerID</th>
		</tr>
	</thead>
	<tbody>
		@if (orderID.HasValue)
		{
			Order o = DatabaseInstance.getOrder(orderID.Value);
			<tr>
				<td> <input value=@o.orderDate type="text"></td>
				<td> <input value=@o.orderVal type="text"></td>
				<td> <input value=@o.customerID type="text"></td>
			</tr>

		}
	</tbody>
</table>
<button class="btn btn-primary">Delete Order</button>
<button class="btn btn-primary">Confirm Changes</button>
@code {
	[Parameter]
	public int? orderID { get; set; }
}
