@page "/Adminvieworders"
<h3>Orders</h3>
<div>
	<input type="search" id="query" name="q" placeholder="Search...">
	<button>Search</button>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Order#</th>
			<th scope="col">Order Date</th>
			<th scope="col">Number of Items</th>
			<th scope="col">Customer</th>
		</tr>
	</thead>
	<tbody>
		@foreach(Order o in DatabaseInstance.viewOrders())
		{
			<tr>
				<td>@o.orderID</td>
				<td>@o.orderDate</td>
				<td>TBD</td>
				<td>@o.customerID</td>
			</tr>
		}
	</tbody>
</table>
<input type="text" placeholder="Enter rowId here" @onchange="Eval_OrderID" id="DOB" class="form-control form-control-sm" />
<button class="btn btn-primary" href="/Admineditorder"></button>

@code {
	private int orderID;
	private void Eval_OrderID(ChangeEventArgs e)
	{
		orderID = Int32.Parse((string)e.Value);
	}
}
