@page "/Admineditcustomer/{customerID:int}"
<div>
	<h3>Edit Customer Details</h3>
	<input type="search" id="query" name="q" placeholder="Search...">
	<button>Search</button>
</div>

<table class="thead-dark">
	<thead>
		<tr>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
		</tr>
	</thead>
	<tbody>
		@if (customerID.HasValue)
		{
			CustomerDetails cd = DatabaseInstance.getCustomer(this.customerID.Value);
			<tr>
				<td><input value=@cd.fName type="text"></td>
				<td><input value=@cd.lName type="text"></td>
			</tr>
		}
	</tbody>
</table>
<input type="text" placeholder="Edit First Name">
<input type="text" placeholder="Edit Last Name">
<button class="btn btn-primary">Confirm Changes</button>
<button class="btn btn-primary">Delete Customer</button>



@code {
	[Parameter]
	public int? customerID { get; set; }
}
