@page "/Admineditbook/{ISBN}"
<h2>Edit Book</h2>
<table class="thead-dark">
	<thead>
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Date Published</th>
			<th scope="col">Price</th>
			<th scope="col">Reviews</th>
			<th scope="col">SupplierID</th>
		</tr>
	</thead>
	<tbody>
		@if (!ISBN.Equals(string.Empty))
		{
			Book b = DatabaseInstance.getBook(this.ISBN);
			<tr>
				<td> <input value=@b.title type="text"></td>
				<td> <input value=@b.pubDate type="text"></td>
				<td> <input value=@b.price type="text"></td>
				<td> <input value=@b.reviews type="text"></td>
				<td> <input value=@b.supplierID type="text"></td>
			</tr>
		}
	</tbody>
</table>
<button class="btn btn-primary">Confirm Changes</button>
<button class="btn btn-primary">Delete Book</button>
@code {
	[Parameter]
	public string ISBN { get; set; }
}
