@page "/Adminviewcustomers"
<div>
	<h3>Customer Details</h3>
	<input type="search" id="query" name="q" placeholder="Search...">
	<button>Search</button>
</div>

<table class="thead-dark">
	<thead>
		<tr>
			<th scope="col">Customer ID</th>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach(CustomerDetails c in DatabaseInstance.viewCustomers()) 
		{
			<tr>
				<td>@c.customerID</td>
				<td>@c.fName</td>
				<td>@c.lName</td>
			</tr>
		}
	</tbody>
</table>
<input type="text" @onchange="Eval_CustomerID" placeholder="Enter customerID">
<button class="btn btn-primary">Edit Customer</button>


@code {
	private int customerID;
	private void Eval_CustomerID(ChangeEventArgs e) 
	{
		customerID = Int32.Parse((string)e.Value);
	}
}
