@page "/Admineditauthordata/{AuthorID:int}" 
<h2>Edit Author Data</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Gender</th>
			<th scope="col">DOB</th>
			<th scope="col">Address</th>
			<th scope="col">Email</th>
			<th scope="col">Phone</th>
		</tr>
	</thead>
	<tbody>
		@if (AuthorID.HasValue)
		{
			AuthorDetails a = DatabaseInstance.getAuthor(this.AuthorID.Value);
			<tr>
				<td> <input value=@a.FName type="text"></td>
				<td> <input value=@a.LName type="text"></td>
				<td> <input value=@a.Gender type="text"></td>
				<td> <input value=@a.DOB type="text"></td>
				<td> <input value=@a.Address type="text"></td>
				<td> <input value=@a.Email type="text"></td>
				<td> <input value=@a.Phone type="text"></td>
			</tr>
		}

	</tbody>
</table>
<button class="btn btn-primary">Confirm Changes</button>
<button class="btn btn-primary">Delete Author</button>
@code {
	[Parameter]
	public int? AuthorID {get; set;}
}
