@page "/bookbrowser"
<div>
    <h3>Book Browser</h3>
        <input type="search" id="query" name="q" placeholder="Search...">
        <button>Search</button>
</div>

<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Publication</th>
				<th>Category</th>
				<th>Reviews</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
		</tbody>
	</table>

@code {
	private void orderBook() { 
	
	}
}
