@page "/Customerorders"
<h2>View Orders</h2>
<table class="table">
	<thead>
		<tr>
			<th>Order Date</th>
			<th>Cost</th>
		</tr>
	</thead>
	<tbody>
		@foreach(Order o in DatabaseInstance.viewOrders())
		{
			<tr>
				<td>@o.orderDate</td>
				<td>@o.orderVal</td>
				<td></td>
			</tr>
		}
	</tbody>
</table>
<label>Order ID:</label>
<input type="text" id="DOB" @onchange="Eval_customerID" class="form-control form-control-sm" />
<button class="btn btn-secondary"><a href="/Customereditorder" class="text-white-50 fw-bold">Edit Order</a></button>
@code {
	private int customerID;
	private void Eval_customerID(ChangeEventArgs e)
	{
		customerID = Int32.Parse((string)e.Value);
	}
}
