@page "/Customereditorder"
<h2>Edit Order</h2>
<table class="table">
	<thead>
		<tr>
			<th>OrderID</th>
			<th>Order Date</th>
			<th>Order Cost</th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<td>

			</td>
			<td>

			</td>
			<td>

			</td>
		</tr>
	</tbody>
</table>
<input type="text" id="orderID" class="form-control form-control-sm" />
<button class="btn btn-primary">Confirm Changes</button>

@code {

}
