@page "/Customervieworders"
<h2>View Orders</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Order Date</th>
			<th scope="col">Order Total</th>
		</tr>
	</thead>
	<tbody>
		@foreach(Order o in DatabaseInstance.viewOrders())
		{
			<tr>
				<td>@o.orderDate</td>
				<td>@o.orderVal</td>
				<td></td>
			</tr>
		}
	</tbody>
</table>
<label>Order ID:</label>
<input type="text" id="orderID" @onchange="Eval_orderID"/>
<button class="btn btn-secondary" href="/Customereditorder">Edit Order</button>
@code {
	private int orderID;
	private void Eval_orderID(ChangeEventArgs e)
	{
		orderID = Int32.Parse((string)e.Value);
	}
}
