@page "/EditAuthorData"
<h2>Edit Author Data</h2>
<table class="table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Gender</th>
			<th>DOB</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<input type="text" id="FirstName" class="form-control form-control-lg" />
			</td>
			<td>
				<input type="text" id="LastName" class="form-control form-control-lg" />
			</td>
			<td>
				<input type="text" id="Gender" class="form-control form-control-lg" />
			</td>
			<td>
				<input type="text" id="DOB" class="form-control form-control-lg" />
			</td>
			<td>
				<button class="btn btn-primary">Confirm Changes</button>
			</td>
		</tr>
	</tbody>
</table>
@code {

}
